*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    margin: 0 auto;
    padding: 36px;
}

.container p {
    font-size: 18px;
    margin: 16px 0;
}

.image{
    height: 100%;
    width: 100%;
    margin-bottom: 16px;
}

.countdown{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    color: white;
    min-width: 300px;
}

.countdown-item{
    background-color: darkcyan;
    padding: 6px;
    min-width: 65px;
}